<div class="example-container mat-elevation-z8">
	<div class="fw-bolder">
		<div class="row">
			<div class="col-md-6 col-lg-3 col-sm-6 flex">Recently Active Leads</div>
			<div class="col-md-6 col-lg-4 col-sm-6">
				<input class="form-control mr-sm-2 mr-lg-3 border" max="100" type="search" placeholder="Search"
					aria-label="Search" [(ngModel)]="namespace" (keydown)="selectChange($event.target)">
			</div>
		</div>

		<mat-table #table [dataSource]="passengerSearchReadModels">

			<ng-container matColumnDef="LeadName">
				<mat-header-cell class="header-cell" *matHeaderCellDef> Lead name </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="DateAdded">
				<mat-header-cell *matHeaderCellDef> Date added </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.updated_on}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="Probability">
				<mat-header-cell *matHeaderCellDef> Probability </mat-header-cell>
				<mat-cell *matCellDef="let element">
					<span class="badge"
						[ngClass]="{'high':element.probability > 30 ,'medium':element.probability > 20}">{{element.probability
						| transformData}}</span>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="TeamSize">
				<mat-header-cell *matHeaderCellDef> Team Size </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.organization.team_size}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="Location">
				<mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.organization.country}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="Revenue">
				<mat-header-cell *matHeaderCellDef> Revenue </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.organization.revenue}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="Category">
				<mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.category.name}} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary rounded-pill">View all</button>
		</div>
	</div>