<h5>Active Leads Status</h5>
<ng-container *ngIf="activeLeadStatus?.length; else noLeads">
    <div class="row">
        <ng-container *ngFor="let lead of activeLeadStatus; index as i">
            <div class="m-3 col-lg-2 col-md-4 col-sm-2 cols-xs-1 rounded-1 p-3"
                [ngClass]="lead?.is_default ? 'bg-primary text-white' : 'bg-white' ">
                <div class="">
                    <span class="fs-6">{{lead?.name || ''}}</span>
                    <h6 class="" [class.text-white]="lead?.is_default">{{displayLeadCount(lead?.lead_count)}}</h6>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>

<ng-template #noLeads>
    <span class="">No Active Lead Status</span>
</ng-template>