<div>
  <app-header></app-header>
</div>

<div class="main-container bg-light">
  <div class="my-3 mx-5">
    <h1 class="header">Welcome to lead tracker</h1>
    <div class="my-4" *ngIf="stage.length">
      <app-tab-nav [tabData]="stage"></app-tab-nav>
    </div>
    <div class="graph-container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 progess-bar-wrap mt-3">
          <div class="progress bg-white" style="height: 50px;position: relative;">
            <div class="sec1">{{probability?.high_percent}}%
              <span class="p-3 text-md">High Probability to Win</span>
            </div>
            <div class="sec2">{{displayLeadCount(probability?.high_count)}}</div>
            <div class="progress-bar high" role="progressbar" [ngStyle]="{'width': probability?.high_percent + '%' }"
              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress bg-white" style="height: 50px;position: relative;">
            <div class="sec1">{{probability?.medium_percent}}%
              <span class="p-3 text-md">Low Probability to Win</span>
            </div>
            <div class="sec2">{{displayLeadCount(probability?.medium_count)}}</div>
            <div class="progress-bar medium" role="progressbar"
              [ngStyle]="{'width': probability?.medium_percent + '%' }" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress bg-white" style="height: 50px;position: relative;">
            <div class="sec1">{{probability?.low_percent}}%
              <span class="p-3 text-md">Low Probability to Win</span>
            </div>
            <div class="sec2">{{displayLeadCount(probability?.low_count)}}</div>
            <div class="progress-bar low" role="progressbar" [ngStyle]="{'width': probability?.low_percent + '%' }"
              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12" *ngIf="graph.length">
          <app-bar-chart [graphState]="graph"></app-bar-chart>
        </div>
        <div class="col-12 my-4">
          <app-lead-status></app-lead-status>
        </div>
        <div class="col-12 my-4">
          <app-table></app-table>
        </div>
      </div>
    </div>
  </div>
</div>