.progess-bar-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sec1 {
    position: absolute;
    top: 12px;
    left: 20px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.sec2 {
    position: absolute;
    top: 12px;
    right: 20px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.text-md {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.high {
    background-color: #C9ECDC;
}

.medium {
    background-color: #F9D8F8;
}

.low {
    background-color: #F8CDD9;
}

.header {
    display: flex;
}

.flex {
    flex-direction: row;
}
